#header {
    width: 100%;
    background-image: url(../../img/background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#header nav {
    background-image: linear-gradient(180deg, rgba(230, 230, 230, 0.925), rgba(255, 255, 255, 0.966));
    animation: slideInDown;
    animation-duration: 1.5s;
}

#header nav a {
    color: var(--text-secondary);
}

#header nav li a {
    text-transform: uppercase;
}

#header nav span {
    color: var(--text-secondary);
}

#header img:last-child {
    width: 70%;
    height: 70%;
}
